[submodule ".vim/pack/foo/start/a.vim"]
	path = .vim/pack/foo/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/pack/foo/start/vim-clang-format"]
	path = .vim/pack/foo/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/pack/foo/start/vim-fugitive"]
	path = .vim/pack/foo/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/foo/start/vim-gitgutter"]
	path = .vim/pack/foo/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/foo/start/vim-sensible"]
	path = .vim/pack/foo/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
